// .contenido__carrito{
//     .carrito__titulo{
//         color: #704518;
//         font-weight: 700;
//         line-height: 3rem;
//         font-size: 2.5rem;
//         padding-top: 20px;
//     }
//     .carrito__categorias{
//         color: #704518;
//         font-weight: 500;
//         line-height: 2.5rem;
//         font-size: 2rem;
//     }
//     .boton__comprar{
//         color: #704518;
//         font-weight: 500;
//         line-height: 2rem;
//         font-size: 1.5rem;
//         border-color: #704518;
//     }
// }

.agregarAlCarro{
    color: #704518;
    font-weight: 500;
    line-height: 2.2rem;
    font-size: 1.6rem;
    padding: 5px;
    border-color: #704518;
}

.agregarAlCarro:hover{
    color: #40290d;
}

// .cantidad{
//     justify-content: space-between;
// }

// .itemCantidad{
//     width: 30%;
//     padding-left: 3px;
// }

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.imagenCarro{
    width: 10%;
}