.contenido__carro{
    color: #704518;
    position: relative;
    .carro__imagen{
        padding-right: 30px;
        padding-bottom: 10px;
    } 
    .carro__titulo{
        padding-right: 30px;
        padding-bottom: 10px;
    }   
    .carro__precio{
        padding-right: 30px;
        padding-bottom: 10px;
    }
    .carro__cantidad{
        padding-right: 30px;
        padding-bottom: 10px;
    } 
    .carro__cantida{
        padding-bottom: 10px;
    }
    .carro__subtotal{
        padding-right: 30px;
        padding-bottom: 10px;
    }   
}

.carroTotal{
    color: #704518;
    text-align: right;
    padding-right: 10px;
}

.dibujoCarro{
    width: 10%;
}

//eliminar productos
.borrar-producto{
    text-decoration: none;
    color: red;
}

.borrar-producto:hover{
    color: red;
}

.button{
    color: red;   
}

.button:hover{
    color: red;   
}

//botón agregar
.agregarAlCarro{
    color: #704518;
    font-weight: 500;
    line-height: 2.2rem;
    font-size: 1.6rem;
    padding: 5px;
    border-color: #704518;
}

.agregarAlCarro:hover{
    color: #40290d;
}

//carrito como hover
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

//responsive
@media only screen and (max-width: 780px) and (min-width: 648px){
    #carrito{
        display: block;
        width: 610px;
        height: auto;
        text-align: center;
    }
}